.homepage-container {
  position: relative;
  width: 100vw;
  height: fit-content;
  background: #ffffff;

  .title-1 {
    margin-top: 150px;
    position: relative;
    padding: 0 70px;
    font-size: 100px;
  }

  .title-2 {
    position: relative;
    padding: 0 100px;
    font-size: 30px;
    width: 55vw;
  }

  .btn-abb {
    padding: 10px;
    margin-top: 10px;
    margin-left: 100px;
    border-radius: 10px;
    border: 1px solid black;
    color: white;
    background-color: black;

    &:hover {
      background-color: #6d6d6d;
    }
  }
}
